---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About This Project"
  description="Lorem ipsum dolor sit amet"
  heroImage="/blog-placeholder-about.jpg",
  imageCredit="https://www.srilankanartgallery.com/artworks/painting/anuradhapura-2-3"
>
  <p>
    I recently came across an intriguing post on Reddit titled "Timeline of Sri
    Lankan History in Javascript." The concept instantly excited me, and I was
    eager to explore the website. Unfortunately, when I visited, I discovered
    that the site no longer worked, and many of the original images were
    missing.
  </p>

  <p>
    This sparked an idea: why not recreate and improve upon the original
    concept? So, I set out to build a new, updated version of the site—one that
    would preserve the timeline while enhancing the user experience and ensuring
    accessibility.
  </p>

  <p>
    This project is fully open-source, and I've made it free from ads and
    trackers, so users can enjoy a clean and distraction-free experience. The
    source code is available for anyone interested in contributing or creating
    their own version of the site.
  </p>

  <p>
    A special thanks to the original creator of the website, Reddit user
    u/keheliya, for inspiring this project. Without their work, this wouldn’t
    have been possible.
  </p>

  <p>Check out the source code here: [link]</p>
</Layout>
